@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:box-border;
}

.header{
  text-align:center; 
}

 /* .menu{
  margin-left:400px;
} */
.pizzas{
  margin-top:20px;
  display:grid;
  grid-template-columns:1fr 2fr;
  gap:4.8rem;
  list-style:none;
}

.menuDetails{
  display:flex;
  gap:2rem;
}

.menuDetails2{
  display:flex;
  flex-direction:column;
  gap:1.2rem;
  justify-content:center; 
  
}

.footerelements{
  margin-top:20px;
  font-size:20px;
  text-align:center;
}

.order{
  border:1px solid yellow;
  color:black;
  padding:15px;
  background-color:yellow;
  margin-top:20px;
  margin-right:50px;
  width:100px;
  font-size:15px;
}
